/** Styling for the JDScript playground when running/debugging code */

.playground_runner {
    box-sizing: border-box;
    padding: 1em;
}

/** The screenshot devtool */

.playground_runner .screenshot {
    max-height: 50vh;
}

/** Code display styles */

.playground_runner .assembly_decoder .assembly_code {
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0.25em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playground_runner .assembly_decoder .assembly_code.assembly_command.executing {
    background-image: linear-gradient(
        to bottom right,
        var(--primary-gradient-start),
        var(--primary-gradient-end)
    ) !important;
}

.playground_runner .assembly_decoder .assembly_code.assembly_command.next_instruction {
    background-color: yellow !important;
}

[data-theme='dark'] .playground_runner .assembly_decoder .assembly_code.assembly_command {
    background-color: var(--secondary-bg-light);
    color: var(--primary-text-light);
}

[data-theme='light'] .playground_runner .assembly_decoder .assembly_code.assembly_command {
    background-color: var(--secondary-bg-dark);
    color: var(--primary-text-dark);
}

.playground_runner .assembly_decoder .assembly_code.assembly_arg {
    position: relative;
}

/* Displays the argument name as a small little label on top of the argument data */
.playground_runner .assembly_decoder .assembly_code.assembly_arg::before {
    content: attr(data-argname);
    position: absolute;
    top: 0;
    left: 1em;
    font-size: 0.5em;
}

.playground_runner .assembly_decoder .assembly_code.assembly_arg:hover:before {
    color: white;
}

[data-theme='dark'] .playground_runner .assembly_decoder .assembly_code.assembly_arg {
    background: var(--secondary-bg-dark);
    color: var(--secondary-text-dark);
}

[data-theme='light'] .playground_runner .assembly_decoder .assembly_code.assembly_arg {
    background: var(--secondary-bg-light);
    color: var(--secondary-text-light);
}
