/** Styling for the JDScript playground when running/debugging code */

.playground-runner {
    box-sizing: border-box;
    padding: 1em;
}

/** The screenshot devtool */

.playground-runner .playground-screenshot {
    max-height: 50vh;
}

/** Code display styles */

.playground-runner .assembly-decoder .assembly-code {
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0.25em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dark .playground-runner .assembly-decoder .assembly-code.assembly-command {
    background: var(--secondary-bg-light);
    color: var(--primary-text-light);
}

.light .playground-runner .assembly-decoder .assembly-code.assembly-command {
    background: var(--secondary-bg-dark);
    color: var(--primary-text-dark);
}

.playground-runner .assembly-decoder .assembly-code.assembly-arg {
    position: relative;
}

/* Displays the argument name as a small little label on top of the argument data */
.playground-runner .assembly-decoder .assembly-code.assembly-arg::before {
    content: attr(data-argname);
    position: absolute;
    top: 0;
    left: 1em;
    font-size: 0.5em;
}

.playground-runner .assembly-decoder .assembly-code.assembly-arg:hover:before {
    color: white;
}

.dark .playground-runner .assembly-decoder .assembly-code.assembly-arg {
    background: var(--secondary-bg-dark);
    color: var(--secondary-text-dark);
}

.light .playground-runner .assembly-decoder .assembly-code.assembly-arg {
    background: var(--secondary-bg-light);
    color: var(--secondary-text-light);
}
