#just-scotus .term-selection-bar {
    box-sizing: border-box;
    padding: 0.5rem;
}

#just-scotus .case-term-badge {
    box-sizing: border-box;
    margin-left: 1rem;
    height: auto;
}

#just-scotus .case-term-badge .case-term {
    background: var(--secondary-bg-dark);
    color: var(--secondary-text-dark);
    box-sizing: border-box;
    padding: 0.5rem;
}
