/* Blurs in the left out of the landing page */
@keyframes landing-blur-in {
    0% {
        -webkit-backdrop-filter: blur(0);
    }

    90% {
        -webkit-backdrop-filter: blur(0);
    }

    100% {
        -webkit-backdrop-filter: blur(2.5rem);
    }
}

.landing-left {
    background-image: url(../resources/images/backgrounds/landing-bg.jpg);
    background-size: cover;
}

.landing-right {
    width: 100vw;
    position: relative;
}

.landing-left .landing-left-overlay {
    -webkit-backdrop-filter: blur(2.5rem);
    backdrop-filter: blur(2.5rem);
    transition: 0.5s backdrop-filter;
    /* Blurs out the left side of the landing page
       5 seconds after the page loads */
    animation-name: landing-blur-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

/* When the left side is hovered, the blur should be
   removed */
.landing-left .landing-left-overlay:hover {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
}

.landing-left .landing-brand {
    width: 50%;
}

/* The attribution for the background image */
.landing-left .bg-attribution {
    font-size: 0.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    padding: 0.5rem;
}

.landing-divider {
    width: 0.25rem;
    background-image: linear-gradient(
        to bottom,
        var(--primary-gradient-start),
        var(--primary-gradient-end)
    );
}

.landing-right .products-gallery {
    overflow-y: scroll;
    padding-bottom: 3rem;
}

.landing-right .options-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.preferences-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(0.25rem);
    backdrop-filter: blur(0.25rem);
}

.preferences-popup {
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 50%;
    min-height: 50%;
    border: 1px solid rgb(40, 40, 40);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}

.preferences-popup .close-button {
    background-color: red;
    color: black;
}

.preferences-popup .title {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.preferences-popup .inner {
    padding: 1rem;
}
