/** Styles for the JustSCOTUS case term selections */

.term_selection_bar {
    box-sizing: border-box;
    padding: 0.5rem;
}

.term_badge {
    box-sizing: border-box;
    margin-left: 1rem;
    height: auto;
}

.term_badge .case_term {
    box-sizing: border-box;
    padding: 0.5rem;
}

[data-theme='dark'] .term_badge .case_term {
    background: var(--secondary-bg-dark);
    color: var(--secondary-text-dark);
}

[data-theme='light'] .term_badge .case_term {
    background: var(--secondary-bg-light);
    color: var(--secondary-text-light);
}
