/** BEGIN overrides for the TradingView widgets */

#tradingview_widget_wrapper {
    width: 100%;
    flex-grow: 1;
}

#tradingview_widget_wrapper div:nth-child(1) {
    height: 100%;
}

#tradingview_widget_wrapper div:nth-child(2) {
    display: none;
}

/** END overrides for the TradingView widgets */
