/** Basic dropdown menu styling */
.dropdown_menu {
    /* Allows the dropdown to be absolutely positioned */
    position: relative;
}

/** The actual dropdown */
.dropdown_menu .dropdown_box {
    box-sizing: border-box;
    padding: 0.5rem;
}

/** Light/Dark mode */

[data-theme='dark'] .dropdown_menu .dropdown_box {
    background-color: var(--secondary-bg-dark);
}

[data-theme='light'] .dropdown_menu .dropdown_box {
    background-color: var(--secondary-bg-light);
}

.dropdown_menu .dropdown_box .dropdown_chevron {
    margin-left: 0.5rem;
}

/** The options dropdown */

.dropdown_menu .dropdown_options {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 50vh;
    height: auto;
    overflow-y: scroll;
}

[data-theme='dark'] .dropdown_menu .dropdown_options {
    background-color: var(--secondary-bg-dark);
    filter: brightness(125%);
}

[data-theme='light'] .dropdown_menu .dropdown_options {
    background-color: var(--secondary-bg-light);
    filter: brightness(90%);
}

/** The individual dropdown options */

.dropdown_menu .dropdown_options .dropdown_option {
    box-sizing: border-box;
    padding: 0.5rem;
}

[data-theme='dark'] .dropdown_menu .dropdown_options .dropdown_option {
    border-bottom: 1px solid var(--primary-bg-dark);
}

[data-theme='light'] .dropdown_menu .dropdown_options .dropdown_option {
    border-bottom: 1px solid var(--primary-bg-light);
}
