/** Basic dropdown menu styling */
.dropdown-menu {
    /* Allows the dropdown to be absolutely positioned */
    position: relative;
}

/** The actual dropdown */
.dropdown-menu .dropdown-box {
    box-sizing: border-box;
    padding: 0.5rem;
}

/** Light/Dark mode */

.dark .dropdown-menu .dropdown-box {
    background-color: var(--secondary-bg-dark);
}

.light .dropdown-menu .dropdown-box {
    background-color: var(--secondary-bg-light);
}

.dropdown-menu .dropdown-box .dropdown-chevron {
    margin-left: 0.5rem;
}

/** The options dropdown */

.dropdown-menu .dropdown-options {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 50vh;
    height: auto;
    overflow-y: scroll;
}

.dark .dropdown-menu .dropdown-options {
    background-color: var(--secondary-bg-dark);
    filter: brightness(125%);
}

.light .dropdown-menu .dropdown-options {
    background-color: var(--secondary-bg-light);
    filter: brightness(90%);
}

/** The individual dropdown options */

.dropdown-menu .dropdown-options .dropdown-option {
    box-sizing: border-box;
    padding: 0.5rem;
}

.dark .dropdown-menu .dropdown-options .dropdown-option {
    border-bottom: 1px solid var(--primary-bg-dark);
}

.light .dropdown-menu .dropdown-options .dropdown-option {
    border-bottom: 1px solid var(--primary-bg-light);
}
