.search_bar_container {
    width: 100%;
    /* Relative position allows the search suggestions
       to appear under the search bar */
    position: relative;
}

.search_bar_container .search_bar {
    transition: 0.5s filter;
}

[data-theme='dark'] .search_bar_container .search_bar {
    background-color: var(--secondary-bg-dark);
}

[data-theme='light'] .search_bar_container .search_bar {
    background-color: var(--secondary-bg-light);
}

[data-theme='dark'] .search_bar_container .search_bar:hover {
    filter: brightness(200%);
}

[data-theme='light'] .search_bar_container .search_bar:hover {
    filter: brightness(75%);
}

.search_bar_container .search_bar .search_icon_wrapper {
    padding: 1rem;
}

.search_bar_container .search_bar .search_input {
    flex-grow: 1;
    padding: 1rem 0;
    font-size: 1rem;
    background: transparent;
    border: none;
    outline: none;
    transition: 0.25s all;
}

[data-theme='dark'] .search_bar_container .search_bar .search_input {
    color: var(--primary-text-dark);
}

[data-theme='light'] .search_bar_container .search_bar .search_input {
    color: var(--primary-text-light);
}

.search_bar_container .search_bar .search_button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 1rem;
    transition: 0.5s background-color;
}

[data-theme='dark'] .search_bar_container .search_bar .search_button {
    color: var(--primary-text-dark);
}

[data-theme='light'] .search_bar_container .search_bar .search_button {
    color: var(--primary-text-light);
}

.search_bar_container .autocomplete_container {
    width: 100%;
    display: block;
    z-index: 1000;
    /* Absolute positioning allows the autocomplete
       suggestions to appear underneath the search bar
       which is { position: relative } */
    position: absolute;
}

.search_bar_container .autocomplete_container .suggestion {
    width: 100%;
    border: none;
    font-size: 1rem;
    margin: 0;
    box-sizing: border-box;
    padding: 1rem;
    transition: 0.5s filter;
    text-align: left;
}

[data-theme='dark'] .search_bar_container .autocomplete_container .suggestion {
    color: var(--primary-text-dark);
    background-color: var(--secondary-bg-dark);
    border-top: 1px solid var(--secondary-bg-dark);
}

[data-theme='light'] .search_bar_container .autocomplete_container .suggestion {
    color: var(--primary-text-light);
    background-color: var(--secondary-bg-light);
    border-top: 1px solid var(--secondary-bg-light);
}

[data-theme='dark'] .search_bar_container .autocomplete_container .suggestion:hover {
    filter: brightness(150%);
}

[data-theme='light'] .search_bar_container .autocomplete_container .suggestion:hover {
    filter: brightness(75%);
}
