/* The search result container */
.result {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
    /* A psuedo-border for the search result */
    background: linear-gradient(
        to right,
        var(--primary-gradient-start),
        var(--primary-gradient-end)
    );
    /* adds a cool animation when the search item is hovered */
    transition: 0.25s all;
}

.result:hover {
    /* Enable the psuedo-border by adding padding */
    padding: 0.5rem;
}

/** Sets a background to the search results to hide the background
 ** The background covers the psuedo-border */

.result .inner {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
}

.dark .result .inner {
    background-color: var(--secondary-bg-dark);
}

.light .result .inner {
    background-color: var(--secondary-bg-light);
}

.result:hover .inner {
    border-radius: 0.75rem;
}
