/** Styles for the sidebar component */

.sidebar {
    width: 25%;
    min-width: 10em;
    border-right: 1px solid;
}

[data-theme='dark'] .sidebar {
    background-color: var(--primary-bg-dark);
    border-color: var(--secondary-bg-dark);
}

[data-theme='light'] .sidebar {
    background-color: var(--primary-bg-light);
    border-color: var(--secondary-bg-light);
}

/** The current product brand logo */

.sidebar .brand {
    width: 50%;
    max-width: 10em;
    margin: 2em;
}

/** Navigation buttons that appear in the sidebar */

.sidebar .nav_btn {
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    border: none;
}

.sidebar .nav_btn.active {
    font-weight: bolder;
}

[data-theme='dark'] .sidebar .nav_btn {
    background-color: var(--secondary-bg-dark);
    color: var(--secondary-text-dark);
    padding: 0;
}

.sidebar .nav_btn .nav_btn_icon {
    font-size: 1.5em;
    margin-right: 1em;
    padding: 0.5em;
}

[data-theme='dark'] .sidebar .nav_btn .nav_btn_icon {
    backdrop-filter: brightness(150%);
}

[data-theme='light'] .sidebar .nav_btn .nav_btn_icon {
    backdrop-filter: brightness(75%);
}
