/** JustData textbox UI */

.textbox {
    border: none;
    outline: none;
    padding: 0.5em;
    font-size: 1em;
}

[data-theme='dark'] .textbox {
    background-color: var(--secondary-bg-dark);
    color: var(--primary-text-dark);
}

[data-theme='light'] .textbox {
    background-color: var(--secondary-bg-light);
    color: var(--primary-text-light);
}
