.fugitive_list_item {
    height: 20rem;
    width: 20rem;
    background-size: cover;
}

/* This is setup such that the fugitive popover is present, but only
   displays the fugitive's name at the bottom of the image */
.fugitive_list_item .popover {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: 0.25s all;
    height: 2.5rem;
    overflow: hidden;
}

/** The popover when the fugitive is hovered */

[data-theme='dark'] .fugitive_list_item .popover {
    background: rgba(0, 0, 0, 0.5);
}

[data-theme='light'] .fugitive_list_item .popover {
    background: rgba(255, 255, 255, 0.5);
}

/* When the popover is hovered, all content becomes centered */
.fugitive_list_item .popover:hover {
    justify-content: center !important;
}

/* Expands the popover to the full height of the image */
.fugitive_list_item:hover .popover {
    height: 100%;
}

.fugitive_list_item .popover .name {
    width: 100%;
    padding: 0 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 200;
    margin: 0;
}

.fugitive_list_item:hover .popover .name {
    font-weight: 600;
    white-space: normal;
    overflow: visible;
    text-align: center;
}

.fugitive_list_item .popover .poster_link {
    display: none;
    border: none;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

[data-theme='dark'] .fugitive_list_item .popover .poster_link {
    color: var(--primary-text-dark);
    background-color: rgba(0, 0, 0, 0.5);
}

[data-theme='light'] .fugitive_list_item .popover .poster_link {
    color: var(--primary-text-light);
    background-color: rgba(255, 255, 255, 0.5);
}

.fugitive_list_item:hover .popover .poster_link {
    display: block;
}
