/* The overlay */
.fugitive-profile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    font-family: monospace;
}

.dark .fugitive-profile {
    background-color: rgba(0, 0, 0, 0.5);
}

.light .fugitive-profile {
    background-color: rgba(255, 255, 255, 0.5);
}

/* The titlebar with the close button and title */
.fugitive-profile .fugitive-profile-titlebar .close-btn {
    width: 50px;
    height: 50px;
    border: none;
    background-color: red;
}

.dark .fugitive-profile .fugitive-profile-titlebar .close-btn {
    color: var(--primary-text-dark);
}

.light .fugitive-profile .fugitive-profile-titlebar .close-btn {
    color: var(--primary-text-light);
}

.fugitive-profile .fugitive-profile-titlebar .fugitive-profile-title {
    font-size: 1rem;
    margin-left: 3rem;
}

.fugitive-profile .bio-container {
    width: 75%;
}

.fugitive-profile .bio-container .bio-details {
    box-sizing: border-box;
    margin-left: 2rem;
}

.fugitive-profile .bio-container .physical-features-row-1 span,
.fugitive-profile .bio-container .physical-features-row-2 span {
    width: 25%;
}

.fugitive-profile .bio-container h1 {
    margin-top: 0;
}

.fugitive-profile .additional-details {
    width: 75%;
}

.fugitive-profile .additional-details p {
    box-sizing: border-box;
    padding: 1rem;
}

.fugitive-profile .additional-details p:nth-child(1) {
    padding-left: 0;
}

.fugitive-profile .additional-details p:nth-child(2) {
    padding-right: 0;
}

/* A red box with large whire text to indicate a warning
   about the fugitive */
.fugitive-profile .fugitive-warning {
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgba(255, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    font-weight: bold;
    width: 75%;
}

.dark .fugitive-profile .fugitive-warning {
    color: rgba(255, 255, 255, 0.75);
}

.light .fugitive-profile .fugitive-warning {
    color: rgba(0, 0, 0, 0.75);
}
