.brand-button {
    height: 50px;
    /* Default background is a gradient */
    background-image: linear-gradient(
        to bottom right,
        var(--primary-gradient-start),
        var(--primary-gradient-end)
    );
}

.brand-button .brand-button-brand {
    height: 100%;
    transition: 0.5s background-color, filter;
}

.dark .brand-button .brand-button-brand {
    background-color: var(--primary-bg-dark);
}

.light .brand-button .brand-button-brand {
    background-color: var(--primary-bg-light);
}

.brand-button .brand-button-brand:hover {
    /* Removes the black background so the
       background is the parent's gradient */
    background-color: transparent;
}

.dark .brand-button .brand-button-brand:hover {
    /* Makes the logo black on hover */
    filter: brightness(0);
}

.light .brand-button .brand-button-brand:hover {
    /* Makes the logo white on hover */
    filter: brightness(0) invert(100%);
}
