.button-component {
    background-color: var(--secondary-bg-dark);
    color: var(--secondary-text-dark);
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
    border: none;
    transition: 0.25s filter;
}

.button-component:hover {
    filter: brightness(150%);
}
