.dropdown-menu {
    position: relative;
}

.dropdown-menu .dropdown-box {
    box-sizing: border-box;
    background-color: rgb(40, 40, 40);
    padding: 0.5rem;
}

.dropdown-menu .dropdown-box .dropdown-chevron {
    margin-left: 0.5rem;
}

.dropdown-menu .dropdown-options {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(60, 60, 60);
    max-height: 50vh;
    height: auto;
    overflow-y: scroll;
}

.dropdown-menu .dropdown-options .dropdown-option {
    box-sizing: border-box;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}
