.feature-button {
    box-sizing: border-box;
    border: none;
    /* The background image is only visible on hover
       otherwise the child covers the background and
       uses it as a gradient border instead */
    background-image: linear-gradient(
        to bottom right,
        var(--primary-gradient-start),
        var(--primary-gradient-end)
    );
    padding: 1px;
    border-radius: 2rem;
    margin: 0.5rem;
}

/* On hover, a rainbow effect should take place. This
   is acheived by rotating the hue of the background,
   thus changing the gradient */
.feature-button:hover {
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* An active feature button has a gradient background */
.feature-button.active .feature-button-inside {
    background: transparent;
    color: black;
    transition: 0.5s color;
}

.feature-button.active .feature-button-inside:hover {
    color: white;
}

.feature-button .feature-button-inside {
    box-sizing: border-box;
    background: black;
    color: white;
    font-size: 0.8rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.feature-button .feature-button-inside .feature-button-icon {
    margin-right: 0.5rem;
}

/* A rainbow animation to change the background
   color/gradient */
@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}
