/* The heading for a product category */
.product-section-title {
    font-size: 1rem;
    font-weight: bold;
}

.dark .product-section-title {
    color: var(--secondary-text-dark);
}

.light .product-section-title {
    color: var(--secondary-text-light);
}

/* The icon appearing to the left of the product section title */
.product-section-icon {
    padding: 1rem;
}

/* A product button */
.product-result {
    width: 15%;
    background: transparent;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.25s all;
}

/* The product icon (png) appearing on the left side of the label */
.product-result img {
    width: 100%;
    height: auto;
    border-radius: 0%;
    background: transparent;
    transition: 0.5s all;
}

.product-result:hover img {
    border-radius: 100%;
}

.dark .product-result:hover img {
    filter: brightness(150%);
    background: var(--secondary-bg-dark);
}

.light .product-result:hover img {
    filter: brightness(75%);
    background: var(--secondary-bg-light);
}
