.search-bar-container {
    width: 100%;
    /* Relative position allows the search suggestions
       to appear under the search bar */
    position: relative;
}

.search-bar-container .search-bar {
    background-color: var(--secondary-bg-dark);
    transition: 0.5s filter;
}

.search-bar-container .search-bar:hover {
    filter: brightness(200%);
}

.search-bar-container .search-bar .search-icon-wrapper {
    padding: 1rem;
}

.search-bar-container .search-bar .search-bar-input {
    flex-grow: 1;
    padding: 1rem 0;
    font-size: 1rem;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    transition: 0.25s all;
}

.search-bar-container .search-bar .search-button {
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.5s background-color;
}

.search-bar-container .search-bar-autocomplete {
    width: 100%;
    display: block;
    z-index: 1000;
    /* Absolute positioning allows the autocomplete
       suggestions to appear underneath the search bar
       which is { position: relative } */
    position: absolute;
}

.search-bar-container .search-bar-autocomplete .search-bar-suggestion {
    width: 100%;
    border: none;
    color: white;
    font-size: 1rem;
    margin: 0;
    box-sizing: border-box;
    padding: 1rem;
    background-color: var(--secondary-bg-dark);
    transition: 0.5s filter;
    border-top: 1px solid rgb(30, 30, 30);
    text-align: left;
}

.search-bar-container .search-bar-autocomplete .search-bar-suggestion:hover {
    filter: brightness(150%);
}
