/* For every phrase in a prompt */
.statement_generator .phrase {
    font-family: monospace;
    color: gray;
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 1.25em;
}

/** Active phrases (in light/dark mode) */

[data-theme='dark'] .statement_generator .phrase.active {
    color: yellow;
}

[data-theme='light'] .statement_generator .phrase.active {
    color: orangered;
}
