/* Placeholder image for the web search page */
.search_engine .placeholder_image {
    max-height: calc(100% - 60px);
}

/* Search results list */
.search_engine .results {
    box-sizing: border-box;
    padding: 2rem;
    padding-left: 50px;
    padding-bottom: 1rem;
    overflow-y: scroll;
}

/** Style overrides for each search result */

.search_engine .results .result .result_title {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
}

.search_engine .results .result .result_title a {
    text-decoration: none;
    color: inherit;
}

/* Brighten the result title on hover */
.search_engine .results .result:hover .result_title {
    filter: brightness(150%);
}

.search_engine .results .result .result_description {
    margin-bottom: 0;
}

[data-theme='dark'] .search_engine .results .result .result_description {
    color: var(--secondary-text-dark);
}

[data-theme='light'] .search_engine .results .result .result_description {
    color: var(--secondary-text-light);
}
