/* Placeholder image for the web search page */
.search-engine .search-placeholder {
    max-height: calc(100% - 60px);
}

/* Search results list */
.search-engine .search-results {
    box-sizing: border-box;
    padding: 2rem;
    padding-left: 50px;
    padding-bottom: 1rem;
    overflow-y: scroll;
}

/** Style overrides for each search result */

.search-engine .search-results .search-result .result-title {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
}

.search-engine .search-results .search-result .result-title a {
    text-decoration: none;
    color: inherit;
}

/* Brighten the result title on hover */
.search-engine .search-results .search-result:hover .result-title {
    filter: brightness(150%);
}

.search-engine .search-results .search-result .result-description {
    margin-bottom: 0;
}

.dark .search-engine .search-results .search-result .result-description {
    color: var(--secondary-text-dark);
}

.light .search-engine .search-results .search-result .result-description {
    color: var(--secondary-text-light);
}
