:root {
    --primary-gradient-start: #cc208e;
    --primary-gradient-end: #7f00ff;

    --primary-text-dark: white;
    --secondary-text-dark: gray;

    --primary-text-light: black;
    --secondary-text-light: gray;

    --primary-bg-dark: black;
    --secondary-bg-dark: rgb(40, 40, 40);

    --primary-bg-light: white;
    --secondary-bg-light: rgb(215, 215, 215);
}

/* Custom styles for text/images which are selected */
*::selection {
    background: var(--primary-gradient-start);
    color: white;
}

/* Default body styles */
body {
    margin: 0;
    /* Ensures the page is at least the height of the window */
    min-height: 100vh;
    background-color: var(--primary-bg-dark);
    color: var(--primary-text-dark);
    /* apple-system is SF Pro, so is BlinkMacSystemFont
       The other fonts, I have no idea: GitHub CoPilot just autofilled them */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-gradient-primary {
    background: linear-gradient(
        to right,
        var(--primary-gradient-start),
        var(--primary-gradient-end)
    );
    -webkit-background-clip: text;
    background-clip: none; /* Ignore the gradient stuff for non-webkit browsers */
    -webkit-text-fill-color: transparent;
}

.text-gradient-link {
    background: linear-gradient(
        to right,
        var(--primary-gradient-start),
        var(--primary-gradient-end)
    );
    -webkit-background-clip: text;
    background-clip: none; /* Ignore the gradient stuff for non-webkit browsers */
    -webkit-text-fill-color: transparent;
    filter: hue-rotate(270deg) brightness(200%);
}

/** Below are keyframe animations to be used across all components */

/* A rainbow animation to change the background
   color/gradient */
@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}
