#just-stocks .stock-search-ac-ticker,
#just-stocks .stock-search-ac-name,
#just-stocks .stock-search-ac-price,
#just-stocks .stock-search-ac-industry,
#just-stocks .stock-search-ac-type,
#just-stocks .stock-search-ac-exchange {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#just-stocks .stock-search-ac-ticker {
    font-weight: bold;
    width: 6rem;
}

#just-stocks .stock-search-ac-name {
    font-weight: bold;
    color: gray;
    width: 20rem;
}

#just-stocks .stock-search-ac-price {
    width: 6rem;
}

#just-stocks .stock-search-ac-price::before {
    content: '$';
}

#just-stocks .stock-search-ac-industry {
    width: 10rem;
    overflow: hidden;
    color: gray;
}

#just-stocks .stock-search-ac-type {
    width: 5rem;
    overflow: hidden;
    color: gray;
}

#just-stocks .stock-search-ac-exchange {
    width: 5rem;
    color: gray;
}
