/* Blurs in the left out of the landing page */
@keyframes landing-blur-in {
    0% {
        -webkit-backdrop-filter: blur(0);
    }

    90% {
        -webkit-backdrop-filter: blur(0);
    }

    100% {
        -webkit-backdrop-filter: blur(2.5rem);
    }
}

.landing-left {
    background-size: cover;
}

.dark .landing-left {
    background-image: url(src/assets/images/backgrounds/landing-bg.jpg);
}

.light .landing-left {
    background-image: url(src/assets/images/backgrounds/landing-bg-light.png);
}

.landing-right {
    width: 100vw;
    position: relative;
}

.landing-left .landing-left-overlay {
    -webkit-backdrop-filter: blur(2.5rem);
    backdrop-filter: blur(2.5rem);
    transition: 0.5s backdrop-filter;
    /* Blurs out the left side of the landing page
       5 seconds after the page loads */
    animation-name: landing-blur-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

/* When the left side is hovered, the blur should be
   removed */
.landing-left .landing-left-overlay:hover {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
}

.landing-left .landing-brand {
    width: 50%;
}

/* The attribution for the background image */
.landing-left .bg-attribution {
    font-size: 0.75rem;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    padding: 0.25rem;
}

.dark .landing-left .bg-attribution {
    color: var(--primary-text-dark);
    background: rgba(0, 0, 0, 0.5);
}

.light .landing-left .bg-attribution {
    color: var(--primary-text-light);
    background: rgba(255, 255, 255, 0.5);
}

.landing-divider {
    width: 0.25rem;
    background-image: linear-gradient(
        to bottom,
        var(--primary-gradient-start),
        var(--primary-gradient-end)
    );
}

.landing-right .products-gallery {
    overflow-y: scroll;
    padding-bottom: 3rem;
}
