/* Overlay behind the preferences popup */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(0.25rem);
    backdrop-filter: blur(0.25rem);
}

/** Styles for the preferences popup window */

/* The actual popup element (window box) */
.popup {
    height: auto;
    width: auto;
    min-width: 50%;
    min-height: 50%;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}

.dark .popup {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--secondary-bg-dark);
}

.light .popup {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--secondary-bg-light);
}

/** Styles for the close button on the popup window */

.popup .close_btn {
    background-color: red;
    color: var(--primary-bg-dark);
}

.dark .popup .close_btn {
    color: var(--primary-bg-dark);
}

.light .popup .close_btn {
    color: var(--primary-bg-light);
}

.popup .title {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.popup .inner {
    padding: 1rem;
}
