/* Keyframe animation to make the loading animation rotate */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.fast {
    animation-duration: 1s;
}

.forever {
    animation-iteration-count: infinite;
}

.ease {
    animation-timing-function: ease;
}

.rotate {
    animation-name: rotate;
}
