/* The heading for a product category */
.product_section_title {
    font-size: 1rem;
    font-weight: bold;
}

[data-theme='dark'] .product_section_title {
    color: var(--secondary-text-dark);
}

[data-theme='light'] .product_section_title {
    color: var(--secondary-text-light);
}

/* The icon appearing to the left of the product section title */
.product_section_title .icon {
    padding: 1rem;
    font-size: 1.5em;
}

/* A product button */
.product_result {
    width: 15%;
    background: transparent;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.25s all;
}

/* The product icon (png) appearing on the left side of the label */
.product_result img {
    width: 100%;
    height: auto;
    border-radius: 0%;
    background: transparent;
    transition: 0.5s all;
}

.product_result:hover img {
    border-radius: 100%;
}

[data-theme='dark'] .product_result:hover img {
    filter: brightness(150%);
    background: var(--secondary-bg-dark);
}

[data-theme='light'] .product_result:hover img {
    filter: brightness(75%);
    background: var(--secondary-bg-light);
}
